{
  "server": {
    "bindHost": "0.0.0.0",
    "bindPort": 12345,
    "ssl": {
      "cert": "/path/to/ssl.crt",
      "key": "/path/to/ssl.key"
    }
  },
  "client": {
    "url": "https://10.0.0.123:12345",
    "ignoreInvalidCert": true
  },
  "pathMap": {
    "x:": "/home/somebody"
  },
  "secret": ""
}
